@font-face {
  font-family: 'OPPOSans H';
  src: url('./OPPOSans H.ttf');
}

@font-face {
  font-family: 'Oxanium-Bold';
  src: url('./Oxanium-Bold.ttf');
}

@font-face {
  font-family: 'oswald-webfont';
  src: url('./oswald-webfont.woff.ttf');
}

.data-view-number {
  font-family: oswald-webfont;
}

.data-view-number1 {
  font-family: OPPOSans H;
}

